#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p I'm baby messenger bag distillery fixie celiac tousled. Chillwave church-key ennui blue bottle disrupt godard, pabst paleo single-origin coffee four dollar toast put a bird on it vape schlitz microdosing raclette. Kale chips locavore humblebrag scenester hashtag typewriter, williamsburg meditation copper mug tofu XOXO retro pinterest edison bulb leggings. Post-ironic artisan snackwave mixtape cronut succulents tumeric letterpress.

#bottom_cta
  .wrapper
    %h2 Go Ahead
    %br
    %button= link_to "Join Now", new_user_registration_path
