// STYLING FOR WELCOME PAGE

#banner {
	background-image: url(image_path("welcome_banner_image.jpg"));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 500px;
	display: table;
	.banner_content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h1 {
			font-family: 'Dosis', sans-serif;
	        font-weight: bold;
	        text-transform: uppercase;
			color: #529ECC;
			font-size: 3.5rem;
			margin: 0;
		}
		p {
			font-size: 1.5rem;
			margin: 0 0 2.5rem 0;
			color: rgba(82,158,204, 0.6);
		}
	}
}

#testimonial {
	text-align: center;
	font-size: 1.5rem;
	color: #afb0b0;
	padding: 3.5rem 0;
	.quote {
		margin: 0 0 .5rem 0;
	}
	.name {
		font-family: 'Dosis', sans-serif;
	    font-weight: bold;
	    text-transform: uppercase;
		color: #2B2E2E;
		margin: 0;
		font-size: .85rem;
	}
}

#callouts {
	background-image: image-url("callout_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 400px;
	display: table;
	.callout_inner {
		display: table-cell;
		vertical-align: middle;
	}
	.callout {
		text-align: center;
		width: 100%;
		padding: 1.5rem 2.5%;
		float: left;
		h2 {
			font-family: 'Dosis', sans-serif;
	        font-weight: bold;
	        text-transform: uppercase;
			color: white;
			margin-bottom: 0;
		}
		p {
			color: rgba(255, 255, 255, 0.9);
		}
	}
}

#bottom_cta {
	text-align: center;
	padding: 7.5rem 0;
	h2 {
		font-family: 'Dosis', sans-serif;
	    font-weight: bold;
	    text-transform: uppercase;
		color: #2B2E2E;
		font-size: 3rem;
		margin: 0;
	}
	p {
			font-size: 1.25rem;
			margin: 0 0 2.5rem 0;
			color: #a7a8a8;
		}
}